<!-- Scripts -->
<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.scrollex.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.scrolly.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/skel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/util.js" | prepend: site.baseurl }}"></script>
<!--[if lte IE 8]><script src="{{ "/js/ie/respond.min.js" | prepend: site.baseurl }}"></script><![endif]-->
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

<!-- For the subscription form, set submitted status to false -->
<!-- <script type="text/javascript">var submitted=false;</script> -->

<!-- Hide thank you message and reset form at site load -->
<!-- <script type="text/javascript">
$(document).ready(function(){
  $('#gform')[0].reset();
  $('#thanks').hide();
    });
</script> -->

<!-- show thank you message, remove form at form submit -->
<!-- <script type="text/javascript">
$('#gform').on('submit', function(e) {
  $('#subscribe').fadeOut(1000);
  $('#gform').fadeOut(1000);
  $('#thanks').fadeIn(1000);
  });
</script> -->
