---
layout: default
---

<div class="articles full-width">
  <article class="post">
    <header>
      {% if page.img %}
      <img src="{{site.baseurl}}/img/{{page.img}}">
      {% endif %}
      <h1> {{ page.title }} </h1>
    </header>
    {{ content }}
    <div class="pagination nugget-info tc">
      <a href="{{ site.baseurl}}/programme" class="button">Back to programme</a>
    </div>
  </article>

  <!-- <aside class="related">
    <ul>
      {% for post in site.posts reversed limit: 5 %}
      <li>
        <a href="{{site.baseurl}}{{post.url}}">
          <em>{{post.title}}</em>
          <b>{{post.author}}</b>
        </a>
      </li>
      {% endfor %}
    </ul>
  </aside> -->
</div>
